<div id="menuTabAceitacao" class="card col-md-push-2 corner fixed card-ml-1" hidden>
    <div class="card-body">
        <nav id="menu-flutuante" class="bs-docs-sidebar">
            <ul id="sidebar" class="nav nav-stacked">

                <li id="menu-step-DadosCosseguro" class="option-menu">
                    <a href="#step-DadosCosseguro" class="pd-r-10">
                        <span class="badge">1</span> Dados do Cosseguro Cedido
                        <img id="erro-step-DadosCosseguro" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-DadosCartaOferta" class="option-menu">
                    <a href="#step-DadosCartaOferta" class="pd-r-10">
                        <span class="badge">2</span> Dados Carta Oferta
                        <img id="erro-step-DadosCartaOferta" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-CenarioComisssionamento" class="option-menu">
                    <a href="#step-CenarioComisssionamento" class="pd-r-10">
                        <span class="badge">3</span> Cenários de Comissionamento
                        <img id="erro-step-CenarioComisssionamento" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-Aceitacao" class="option-menu">
                    <a href="#step-Aceitacao" class="pd-r-10">
                        <span class="badge">4</span> Aceitação
                        <img id="erro-step-Aceitacao" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>