<div id="step-3" class="posicaoStep">
    <section id="step-3">
        <div class="row">
            <div class="card corner col-md-12 col-sm-12 marginTop-cards">
                <div class="card-title">
                    <h3 class="h3">
                        <b class="va-sub" style="font-size:21px;">Família</b>
                    </h3>
                    <hr class="bordaHrTitulo">
                </div>

                <div class="card-body col-md-12 col-sm-12 familias">
                    <ul id="listaDeFamilias">
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>