<div id="step-2" class="posicaoStep">
    <section id="step-2">
        <div class="row">
            <div class="card corner col-md-12 col-sm-12 marginTop-cards">
                <div class="card-title">
                    <h3 class="h3">
                        <b class="va-sub" style="font-size:21px;">Filial</b>
                    </h3>                    
                    <hr class="bordaHrTitulo">
                </div>

                <div class="card-body col-md-12 col-sm-12">
                    <div id="formFilial" style="display: block;">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6" id="formFilialDropDown">
                                <div class="dropdown marginTop-button">                                    
                                    <div class="searchable">
                                        <select onchange="window.SelecaoEvents.selecionaFilial()" class="form-control selAutoComplete" id="selectFilial">
                                            <option value="0">Selecione</option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>