<div class="form-principal">

    <div id="cotador" class="row">

        <partial name="CardBody/_CardBody.cshtml" />

        <partial name="CardBody/_AnaliseRisco_CardBody.cshtml" />

        <partial name="CardBody/_Orcamento_CardBody.cshtml" />

        <partial name="Content/CartaOferta/_CardBody.cshtml" />

        <partial name="Content/Emissao/_CardBody.cshtml" />

        <partial name="Header/_Header.cshtml" />

        <partial name="Content/_Content.cshtml" />

    </div>
</div>

@section scriptsTop {
    <script src="~/js/bootstrap-notify.min.js"></script>
    <script src="~/js/notificacao.js"></script>
    <script src="~/js/jsrender.js"></script>
}

@section scripts {
    <script src="~/js/datatables.js"></script>
    <script src="~/js/dataTables.cellEdit.js"></script>
    <script src="~/js/cotacao.js"></script>
    <script src="~/js/estipulante.js"></script>
    <script src="~/js/questionario.js"></script>
    <script src="~/js/seguradora.js"></script>
    <script src="~/js/produtocomercial.js"></script>
    <script src="~/js/cobertura.js"></script>
    <script src="~/js/relacaodevidas.js"></script>
    <script src="~/js/planocondicoescomerciais.js"></script>
    <script src="~/js/relacaodevidaspopupservice.js"></script>
    <script src="~/js/dadoscomercializacao.js"></script>
    <script src="~/js/analiseDeRisco.js"></script>
    <script src="~/js/dadosOrcamento.js"></script>
    <script src="~/js/cenariosComissionamento.js"></script>
    <script src="~/js/aceitacao.js"></script>
    <script src="~/js/aceitacaoCartaOferta.js"></script>
    <script src="~/js/dadosCartaOferta.js"></script>
    <script src="~/js/cosseguroCedido.js"></script>
    <script src="~/js/dadosEmissao.js"></script>
    <script src="~/js/dadosEstipulante.js"></script>
    <script src="~/js/dadosSubEstipulante.js"></script>
    <script src="~/js/favorecidosComissionamento.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/helper.js"></script>
}

