<div class="form-principal">
    <div id="selecao" class="row">
        <partial name="Content/_Content.cshtml" />
    </div>
</div>


@section scriptsTop {
    <script src="~/js/bootstrap-notify.min.js"></script>
    <script src="~/js/notificacao.js"></script>
}

@section scripts {
    <script src="~/js/telaselecao.js"></script>  
}