<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 row-fluid">
        <div class="col-md-12 pd-0">
            <div class="row">
                <h3 class="h3">
                    <img src="~/images/produto.png" width="64">
                    <span class="va-super">Produto</span>
                    <br />
                    <span class="textBlue va-sub">SELECIONE O PRODUTO</span>
                </h3>
                <hr class="bordaHrTitulo">
            </div>
        </div>

        <partial name="Canais/_Canais.cshtml" />

        <partial name="Filial/_Filial.cshtml" />

        <partial name="Familia/_Familia.cshtml" />

        <partial name="ProdutoComercial/_ProdutoComercial.cshtml" />     
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>










