<div id="menuTabAnaliseRisco" class="card col-md-push-2 corner fixed card-ml-1" hidden>
    <div class="card-body">
        <nav id="menu-flutuante" class="bs-docs-sidebar">
            <ul id="sidebar" class="nav nav-stacked">

                <li id="menu-step-dadosCalculo" class="option-menu">
                    <a href="#step-dadosCalculo" class="pd-r-10">
                        <span class="badge">1</span> Dados do Cálculo
                        <img id="erro-step-dadosCalculo" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-Relatorios" class="option-menu">
                    <a href="#step-Relatorios" class="pd-r-10">
                        <span class="badge">2</span> Relatórios
                        <img id="erro-step-Relatorios" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-ResumoTecnico" class="option-menu margin-left-15px">
                    <a href="#step-ResumoTecnico" class="pd-r-10">
                        <span class="badge">2.1</span> Resumo Técnico
                        <img id="erro-step-ResumoTecnico" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-Freecover" class="option-menu margin-left-15px">
                    <a href="#step-Freecover" class="pd-r-10">
                        <span class="badge">2.2</span> Freecover
                        <img id="erro-step-Freecover" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-DistCapital" class="option-menu margin-left-15px">
                    <a href="#step-DistCapital" class="pd-r-10">
                        <span class="badge">2.3</span> Distribuição de Capital
                        <img id="erro-step-DistCapital" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-ProjFaturamento" class="option-menu margin-left-15px">
                    <a href="#step-ProjFaturamento" class="pd-r-10">
                        <span class="badge">2.4</span> Projeção de Faturamento
                        <img id="erro-step-ProjFaturamento" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>