
<div id="menuTabCotacao" class="card col-md-push-2 corner fixed card-ml-1">
    <div class="card-body">
        <nav id="menu-flutuante" class="bs-docs-sidebar">
            <ul id="sidebar" class="nav nav-stacked">

                <li id="menu-step-1" class="option-menu">
                    <a href="#step-1" class="pd-r-10">
                        <span class="badge">1</span> Dados do Corretor
                        <img id="erro-step-1" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-2" class="option-menu">
                    <a href="#step-2" class="pd-r-10">
                        <span class="badge">2</span> Dados do Estipulante
                        <img id="erro-step-2" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>
                <li id="menu-step-3" class="option-menu">
                    <a href="#step-3" class="pd-r-10">
                        <span class="badge">3</span> Dados do Seguro
                        <img id="erro-step-3" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-4" class="option-menu">
                    <a href="#step-4" class="pd-r-10">
                        <span class="badge">4</span> Plano de Condições Comerciais
                        <img id="erro-step-4" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>                

                <li id="menu-step-5" class="option-menu">
                    <a href="#step-5" class="pd-r-10">
                        <span class="badge">5</span> Dados de Comercialização
                        <img id="erro-step-5" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


