<div id="menuTabOrcamento" class="card col-md-push-2 corner fixed card-ml-1" hidden>
    <div class="card-body">
        <nav id="menu-flutuante" class="bs-docs-sidebar">
            <ul id="sidebar" class="nav nav-stacked">

                <li id="menu-step-DadosOrc" class="option-menu">
                    <a href="#step-DadosOrc" class="pd-r-10">
                        <span class="badge">1</span> Dados do Orçamento
                        <img id="erro-step-DadosOrc" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>

                <li id="menu-step-Aceitacao" class="option-menu">
                    <a href="#step-Aceitacao" class="pd-r-10">
                        <span class="badge">2</span> Aceitação
                        <img id="erro-step-Aceitacao" src="~/images/icon-warning.png" hidden />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
