<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <!-- This will handle requests up to  50MB -->
          <requestLimits maxAllowedContentLength="2147483647" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <system.web>
    <machineKey decryptionKey="982327CCCA4E40CE361C2CE5B489592020C402FD9754473D" validationKey="C075D891890C85319FD63A92C638EC65A5DE4D83252E8855C668C0B1375A95D1EF089CC61D12E8B42AD3B08C30B0D8644DD2E9E9C8FD102E3A718D845CA3BC43" />
    <sessionState mode="Custom" customProvider="RedisSessionState">
      <providers>
        <add name="RedisSessionState" type="Microsoft.Web.Redis.RedisSessionStateProvider" accessKey="" ssl="false" connectionString="VLAIUBR-REDAP01:6379,VLAIUBR-REDAP02:6379" connectionTimeoutInMilliseconds="5000" operationTimeoutInMilliseconds="5000" retryTimeoutInMilliseconds="25000" applicationName="Liberty.Faturaveis.UI" />
      </providers>
    </sessionState>
  </system.web>
</configuration>
<!--ProjectGuid: 4165f8bc-a76d-4469-be3c-7ad045b49a25-->