<div id="step-1" class="posicaoStep">
    <section id="step-1">
        <div class="row">
            <div class="card corner col-md-12 col-sm-12 marginTop-cards">
                <div class="card-title">
                    <h3 class="h3">
                        <b class="va-sub" style="font-size:21px;">Canais</b>
                    </h3>
                    <hr class="bordaHrTitulo">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>Escolha um dos canais abaixo:</span>
                </div>
                <div class="card-body col-md-12 col-sm-12 canais">
                    <ul id="listaDeCanais">
                        
                    </ul>                   
                </div> 
            </div>
        </div>
    </section>
</div>