<div class="form-principal">
    <div id="consulta" class="row">
        <partial name="Content/_Content.cshtml" />
    </div>
</div>


@section scriptsTop {
    <script src="~/js/bootstrap-notify.min.js"></script>
    <script src="~/js/notificacao.js"></script>
    <script src="~/js/jsrender.js"></script>
}

@section scripts {
    <script src="~/js/datatables.js"></script>
    <script src="~/js/telaconsulta.js"></script>

}